body {
  background: #f8f9fa; /* Light grey background */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container {
  display: inline-block;
}

.text-container h1, .text-container p {
  display: inline;
  margin: 0;
  vertical-align: baseline;
}

.text-container p {
  font-size: .9em;
  font-style: italic;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  min-width: 500px !important;
}

.card-title {
  font-weight: bold;
}

.details {
  font-weight: bold;
}

#xpChart, #AuditChart {
  width: 100%;
}

#AuditChart {
  height: 150px; /* Adjusted height for better display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#AuditChart h3 {
  font-size: 2rem; /* Increase audit ratio size */
  margin-bottom: 10px;
}

.audit-progress-container {
  width: 100%;
}

.progress {
  height: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
}

.progress-labels {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

path.slice {
  stroke: none;
}

polyline {
  stroke: none;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

